body{
    background-color: royalblue;  
    color: aliceblue;
  }
  .heading{
    width: 80%;  
    font-size: 25px; 
  }
  #webcam{
      border:2px dashed aliceblue;
      width:350px;
      height:300px;
  }
  .name_of_people ,#result_person_name,#result_person_accuracy{
      color: yellow;
  }